<section id="notfound">
  <div class="container">
    <img src="../../public/images/7.svg" alt="not-found" />
    <h1 class="not-header">Something isn't right here!</h1>
    <a href="/" class="btn">Let's go back home.</a>
  </div>
</section>