<section id="succ">
  <div class="succ-container">
    <lottie-player
      src="https://assets9.lottiefiles.com/packages/lf20_01bh9ld2.json"
      background="transparent"
      speed="1"
      style="width: 500px; height: 500px;"
      autoplay
    ></lottie-player>
    <h1 class="header">Booking Confirmed!</h1>
    <a href="/user/profile/{{isLoggedIn.id}}" class="profile">View Profile</a>
  </div>
</section>