<section id="create-venue">
  <div class="container">
    <h1 class="title">Create New Venue</h1>
    <form
      action="/venues/create"
      onsubmit="return validateForm()"
      method="POST"
      enctype="multipart/form-data"
      id="create-form"
    >
      <div class="field">
        <div class="input-fields">
          <label for="venueName" class="label">
            Name
            <input
              class="input"
              id="venueName"
              type="text"
              name="venueName"
              required
            />
          </label>
        </div>
        <div class="input-fields">
          <label for="venueAddress" class="label">
            Address
            <input
              class="input"
              type="text"
              name="venueAddress"
              placeholder="Address"
              id="venueAddress"
              required
            />
          </label>
        </div>
        <div class="input-fields">
          <label for="venueImage" class="label">
            Image
            <input
              class="input"
              type="file"
              name="venueImage"
              id="venueImage"
              required
              style="height: auto;"
            />
          </label>
        </div>
        <div class="input-fields">
          <label for="sports" class="label">
            Sports
            <select class="input" id="sports" name="sports" multiple="multiple">
            </select>
            <div class="hint">note: Hold CTRL (windows) or CMD (mac) to select
              multiple</div>
          </label>
        </div>
        <div class="input-fields">
          <label for="venueTimings" class="label">
            Timings
            <select
              class="input"
              id="venueTimings"
              name="venueTimings"
              multiple="multiple"
            >
            </select>
            <div class="hint">note: Hold CTRL (windows) or CMD (mac) to select
              multiple</div>
          </label>
        </div>
        <div class="input-fields">
          <label for="venueSlots" class="label">
            Default Slots
            <input
              class="input"
              type="number"
              name="venueSlots"
              id="venueSlots"
              placeholder="Default Available Slots for each time slot"
              required
            />
          </label>
        </div>
        <div class="input-fields">
          <label for="price" class="label">
            Price per Hr
            <input
              class="input"
              type="number"
              name="price"
              id="price"
              placeholder="Price"
              required
            />
          </label>
        </div>
        <div id="error" hidden>
          <ul id="err-list"></ul>
        </div>
        <input
          id="create-button"
          type="submit"
          class="button input"
          value="Create Venue"
        />
      </div>
    </form>
  </div>
</section>
<script src="../../public/js/sports.js"></script>