<section id="succ">
  <div class="succ-container">
    <h1>Venue Created Succesfully!</h1>
    <p class="succ-msg">Your venue has been created, click the button below to
      visit venue page.</p>
    <a href="/venues/{{id}}">
      <button>View Venue</button>
    </a>
  </div>
</section>