<section id="succ">
  <div class="succ-container">
    <lottie-player
      src="https://assets9.lottiefiles.com/packages/lf20_01bh9ld2.json"
      background="transparent"
      speed="1"
      style="width: 500px; height: 500px;"
      autoplay
    ></lottie-player>
    <h1>Venue Created Succesfully!</h1>
    <p class="succ-msg">Your request to create the venue has been sent. It may
      take upto 24 hours for the moderators to approve.</p>
    <a href="/">
      <button>Home</button>
    </a>
  </div>
</section>