@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #121212 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
nav {
  /* background-color: #222; */
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px) !important;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

nav .nav-wrapper ul {
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  text-transform: lowercase;
  font-weight: 700;
}

nav .nav-wrapper ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  font-size: 18px;
  transition: 100ms ease-in-out;
}

.nav-wrapper > a {
  font-size: 30px;
  font-weight: 900;
  text-transform: lowercase;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

nav .nav-wrapper ul li:hover {
  text-decoration: underline !important;
  transform: scale(1.1);
}

#error ul {
  margin: 0;
  padding-left: 20px;
}

#error {
  background-color: tomato;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  text-align: start;
  border-radius: 5px;
}

.brand-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
