#create-venue {
  position: absolute;
  top: 100px;
  width: 100%;
}

#create-venue .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-venue .container .title {
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -2;
  text-transform: lowercase;
}

#create-venue .container form {
  width: 35%;
}

#create-venue .container label {
  font-size: 16px;
}

#create-venue .container .field .input-fields {
  margin-bottom: 10px;
}

#create-venue .container .input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: white;
  padding: 0 10px;
  margin-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-venue .container textarea {
  height: 60px !important;
  resize: none;
  padding: 0 10px !important;
}

#create-venue .container select {
  height: 100px !important;
}

.hint {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.478);
  margin-top: 10px;
}

#create-venue .container input:focus {
  outline: #0d82df solid;
}

#create-venue .container .field .button {
  background-color: #0d82df !important;
  color: white;
  font-weight: 900;
  font-size: 26px;
  text-transform: lowercase;
  letter-spacing: -1;
  text-align: center;
  margin-top: 10px;
  height: 50px !important;
  margin-bottom: 20px;
}
