#succ {
  top: 10%;
  min-height: 100vh;
  width: 100%;
}

#succ .succ-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#succ .succ-container h1 {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -1;
  text-transform: lowercase;
  margin: 0;
}

#succ .succ-container .succ-msg {
  font-size: 22px;
}

#succ .succ-container button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #0079d1;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1;
  text-transform: lowercase;
  cursor: pointer;
  transition: 0.3s;
}

#succ .succ-container button:hover {
  background-color: #0b63ab;
  color: #fff;
}
