#create-venue {
  position: absolute;
  top: 100px;
  width: 100%;
  color: white;
}

#create-venue .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-venue .container .title {
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -2;
}

#create-venue .container form {
  width: 35%;
}

#create-venue .container label {
  font-size: 16px;
  color: white;
}

#create-venue .container .field .input-fields {
  margin-bottom: 10px;
  background-color: transparent;
}

#create-venue .container .input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #222;
  color: white;
  padding: 10px;
  margin-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-venue .container textarea {
  resize: none;
  padding: 0 10px !important;
  vertical-align: center;
}

#create-venue .container select {
  height: 100px !important;
}

.hint {
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
  margin-top: 10px;
}

#create-venue .container input:focus {
  outline: #0079d1 solid;
}

#create-venue .container .field .button {
  cursor: pointer;
  background-color: #0079d1 !important;
  color: white;
  font-weight: 900;
  font-size: 26px;
  text-transform: lowercase;
  letter-spacing: -1;
  text-align: center;
  margin-top: 20px;
  height: 50px !important;
  margin-bottom: 20px;
}

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 75%;
  border-radius: 5px;
}

.modal .container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
} */
