body {
  background-color: white;
}

#venue-page {
  position: absolute;
  top: 60px;
  width: 100%;
}

#venue-page .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

#venue-page .container .left {
  background-color: transparent;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
}

a .venue-address {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 18px !important;
}

.venue-address .size-xl {
  font-size: 22px;
}

.venue-rating {
  font-weight: normal;
}

#venue-page .container .right {
  left: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  margin-top: 20px;
}

#venue-page .container .left img {
  margin: 20px 20px 0 0;
  object-fit: cover;
  border-radius: 6px !important;
}

#venue-page .container .venue-title {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -1;
  margin: 0;
}

#venue-page .container .right .row {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

#venue-page .container .right .row .fa {
  cursor: pointer;
  font-size: 1.5em !important;
  margin: 0;
  padding: 0;
}

#venue-page .container .right .row .report {
  margin: 0 20px;
}

#venue-page .container .right .row .report .report-container {
  position: absolute;
  max-width: 200px;
  height: auto;
  background-color: whitesmoke;
  z-index: 1;
  border-radius: 6px;
  margin-top: 10px;
}

.input-fields {
  border: none;
  background-color: #222;
  color: white;
  padding: 2px 10px;
  border-radius: 6px;
}

.input-fields input,
.input-fields textarea {
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 6px;
  width: 95%;
  font-size: 16px;
  background-color: #222;
  color: white;
}

.input-fields textarea {
  height: 100px;
  font-family: "Source Sans Pro", sans-serif;
}
#venue-page .container .right .row a {
  transition: all 100ms ease-in-out;
}

#venue-page .container .right .row .fa:hover {
  text-decoration: none;
  color: #da3d00;
  transform: scale(1.1);
}

#venue-page .container .venue-title .address {
  font-weight: normal;
  margin-left: 10px;
  font-size: 22px;
}

#venue-page .container .timings {
  font-weight: normal;
  margin: 0;
}

#venue-page .container .timings select {
  border: none;
  background-color: #222;
  color: white;
  padding: 2px 10px;
  border-radius: 6px;
}

#venue-page .container .timings select:focus {
  outline: none;
}

#venue-page .container .sports {
  font-weight: normal;
  margin-top: 0px;
}

#venue-page .container form {
  width: inherit;
}

#venue-page .container .sports select {
  border: none;
  background-color: #222;
  color: white;
  padding: 2px 10px;
  border-radius: 6px;
}

#venue-page .container .sports select:focus {
  outline: none;
}

.silent {
  color: #767676;
  font-size: 18px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.book-btn {
  background-color: #0079d1;
  border-radius: 6px;
  border: none;
  height: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: -1;
  font-size: 22px;
  cursor: pointer;
  padding: 0px 10px;
}

.img {
  width: 40%;
  height: 300px;
}

.comment {
  margin: 10px;
  padding: 20px;
}

.comment .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment .row a {
  margin-left: 20px;
  color: lightblue;
  font-weight: normal;
  text-align: center;
}

.comment-header {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  letter-spacing: -2;
  color: white;
}

.date {
  border: none;
  background-color: #222;
  color: white;
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 16px;
  height: 50px;
  font-family: "Source Sans Pro", sans-serif;
}

.comment-textbox {
  width: 100%;
  margin-top: 10px;
}

.comment-textbox form {
  width: 100%;
  display: flex;
}

.comment-textbox form label {
  width: 50%;
}

.comment-textbox form label textarea {
  width: 100%;
  height: 50px;
  border: none;
  background-color: whitesmoke;
  padding: 2px 10px;
  border-radius: 6px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  resize: none;
}

.comment-textbox form button {
  background-color: #0079d1;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.user-review {
  width: 50%;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 6px;
}

.user-review .username,
.user-review .reviewText {
  margin: 0;
}

.user-review .reviewText {
  margin: 10px 0;
}

.user-review .username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-review .username .date-time {
  font-size: 14px;
  color: #898989;
  font-weight: normal;
  text-align: center;
}

.no-reviews {
  font-size: 22px;
  margin: 10px 0;
}
