#register-page {
  padding-top: 60px;
  margin: auto;
  top: 60px;
  width: 40%;
  align-items: center;
  padding-left: 30px;
  text-align: left;
}

.registerInput {
  width: 100%;
  padding: 10px;
}

#registerTitle {
  text-align: center;
}

.registerLabel {
  display: block;
  margin-bottom: 10px;
}

#registerSubmit {
  width: 100%;
  color: black;
  background: white;
  font-size: medium;
  padding: 5px;
}

#registerError {
  color: red;
}
