#activity {
  position: relative;
  top: 60px;
  width: 100%;
}

.floating-err {
  position: fixed;
  top: 25%;
  right: 20px;
  background-color: tomato;
  color: white;
  border-radius: 6px;
  padding: 0 5px;
  width: 25%;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.floating-err p {
  margin: 0;
  padding: 10px;
}

.float-in {
  animation: float-in 0.5s ease-in-out;
}
.float-out {
  animation: float-out 0.5s ease-in-out;
}

#activity .container {
  width: calc(100% - 40px);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#activity .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#activity .container .row .act-title {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -1;
  color: #fff;
}

#activity .container .row .btn {
  background-color: #0079d1;
  border: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

#activity .container .row .btn:hover {
  transform: scale(1.05);
}

#activity .container .posts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#activity .container .posts .card {
  width: 50%;
  background-color: #222;
  color: white;
  margin: 20px 20px 20px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#activity .container .posts .card .card-header .row {
  min-width: 50%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

#activity .container .posts .card .card-header .row .user {
  display: flex;
  flex-direction: column;
}

#activity .container .posts .card .card-header .row .user .name {
  padding: 0;
  margin: 0;
}

#activity .container .posts .card .card-header .row .user .date {
  font-size: 0.8em;
  color: #898989;
  padding: 0;
  margin: 0;
  height: auto !important;
}

#activity .container .posts .card .card-header .row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

#activity .container .posts .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
}

#activity .container .posts .card .card-body .stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#activity .container .posts .card .card-body .stat .stat-chip {
  background-color: #0079d1;
  color: white;
  padding: 5px;
  font-size: 14px;
  border-radius: 60px;
  margin: 10px 10px 0 0;
  /* margin-right: 10px; */
}

#activity .container .posts .card .card-body .title-body {
  margin: 10px 0 0 0;
}

#activity .container .posts .card .card-body .desc {
  overflow: hidden;
  text-overflow: ellipsis;
}

#activity .container .posts .card .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
}

#activity .container .posts .card .card-footer .btn {
  font-size: 18px;
}

#reportForm .input-fields textarea,
#reportForm .input-fields select {
  background-color: #333;
  color: white;
}

@keyframes float-in {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes float-out {
  0% {
    opacity: 1;
    overflow: hidden;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}

.report {
  cursor: pointer;
}

.font {
  font-family: "Source Sans Pro", sans-serif;
}

.no-posts {
  font-size: 2em;
  font-weight: 700;
  margin-top: 20px;
  color: #fff;
}
