#admin {
  position: absolute;
  top: 60px;
  width: 100%;
  color: white;
}

#admin .container {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 !important;
}

#admin .container .admin-header {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -1;
  margin: 0;
}

#admin .container .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

#admin .container .cont1 {
  display: flex;
  flex-direction: column;
  background-color: #222;
  padding: 20px;
  margin-top: 20px;
  width: 45%;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

#admin .container .cont1 h1 {
  font-size: 2em;
  font-weight: 900;
  text-transform: lowercase;
  letter-spacing: -1;
}
