<section id="home">
  <div class="search-container">
    <h1 class="header">Unleash your beast</h1>
    <div class="search-bar">
      <form action="/venues" id="search" method="GET" class="form">
        <input
          type="text"
          id="search-input"
          name="searchTerm"
          placeholder="Type a sport or click search for all results."
        />
        <button class="search-button" id="search-button" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</section>
<section id="what">
  <div class="what-container">
    <h1 class="what-header">What we offer</h1>
    <div class="what-we-do-container">
      <div class="col">
        <i class="fa fa-users" class="icon" style="color: #0d82df;"></i>
        <h2>Let you find your favourite sport and team up with other players!</h2>
      </div>
      <div class="col">
        <i class="fa fa-money" class="icon" style="color: green;"></i>
        <h2>Book your playground directly without any hidden charges.</h2>
      </div>
      <div class="col">
        <i class="fa fa-trophy" class="icon" style="color:goldenrod;"></i>
        <h2>Post game request to match with players within your skill range.</h2>
      </div>
    </div>
  </div>
</section>
{{! <footer id="footer" class="footer">
  <span class="madeby">Developed By</span>
  <div class="devs">
    <ul id="list" class="dev-list">
      <li>Tejas Raibagi</li>
      <li>Troy Tomasch</li>
      <li>Pinak Pathak</li>
      <li>Varun G</li>
    </ul>
  </div>
</footer> }}