.slidecontainer {
  width: 100%;
}

.createRatingInput:hover {
  opacity: 1;
}

.createRatingInput {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #222;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 30px;
}

.createRatingInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d82df;
  cursor: pointer;
}

.createRatingInput::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d82df;
  cursor: pointer;
}

#createReview-page {
  position: relative;
  top: 60px;
  width: 100%;
  color: white;
}

.createReview-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createReviewInput,
select {
  width: 500px;
  height: 200px;
  border: none;
  border-radius: 6px;
  background-color: #222;
  color: white;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#createReviewTitle {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

.createReviewLabel {
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
}

#createReviewSubmit {
  cursor: pointer;
  background-color: #0d82df !important;
  color: white;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: -1;
  text-align: center;
  height: 50px !important;
  margin-top: 20px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

#createReviewError {
  color: red;
}

#createReviewError1 {
  color: red;
}
#createReviewError2 {
  color: green;
}

#venuelink {
  font-size: medium;
  color: lightblue;
  text-decoration: underline;
  margin-bottom: 20px;
}
